<template>
  <div class="transaction-status">
    <h1>Отслеживание</h1>
    <div>
      <div>Статус</div>
      <div>Инициирован</div>
    </div>
  </div>
</template>

<script lang="ts" setup>
// const statuses;

// Tracking Отслеживание
// Получатель: 24eF....54ff
// Итог: 100.50
// Status Статус

// Initiated Инициирован
// In progress В процессе
// Выполнен Completed
</script>

<style scoped>

</style>
