<template>
  <transition-root
    appear
    :show="isOpen"
    as="template">
    <hl-dialog
      as="div"
      class="relative z-10"
      @close="closeModal">
      <transition-child
        as="template"
        enter="duration-300 ease-out"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="duration-200 ease-in"
        leave-from="opacity-100"
        leave-to="opacity-0">
        <div class="fixed inset-0 bg-black bg-opacity-25" />
      </transition-child>

      <div class="fixed inset-0 overflow-y-auto">
        <div
          class="flex min-h-full items-center justify-center p-4 text-center">
          <transition-child
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0 scale-95"
            enter-to="opacity-100 scale-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100 scale-100"
            leave-to="opacity-0 scale-95">
            <dialog-panel
              class="w-full transform overflow-hidden rounded-2xl bg-white p-6 text-left align-middle shadow-xl transition-all"
              style="width: 600px;">
              <dialog-title
                v-if="hasTitleSlot"
                as="h3"
                class="text-lg font-medium leading-6 text-gray-900 text-center pb-5">
                <slot name="title" />
              </dialog-title>
              <slot />
            </dialog-panel>
          </transition-child>
        </div>
      </div>
    </hl-dialog>
  </transition-root>
</template>

<script lang="ts" setup>
import { computed, useSlots } from 'vue';
import {
  Dialog as HlDialog,
  DialogPanel,
  DialogTitle,
  TransitionRoot,
  TransitionChild,
} from '@headlessui/vue';

const props = defineProps<{
  modelValue: boolean
}>();

// eslint-disable-next-line no-spaced-func,func-call-spacing
const emits = defineEmits<{
  // eslint-disable-next-line no-unused-vars
  (e: 'update:modelValue', value: boolean): void
}>();

const slots = useSlots();

const hasSlot = (name: string) => !!slots[name];

const hasTitleSlot = () => hasSlot('title');

const isOpen = computed({
  get() {
    return props.modelValue;
  },
  set(value) {
    emits('update:modelValue', value);
  },
});

function closeModal() {
  isOpen.value = false;
}
</script>

<style scoped>

</style>
