<template>
  <div class="home-page">
    <transfer-window />
  </div>
</template>

<script lang="ts" setup>
import { ref, provide } from "vue";
import {
  SIGNER_CREATOR_LOADER_SYMBOL,
  SIGNER_CREATOR_SYMBOL,
} from "@/components/di";
import TransferWindow from "@/components/tokens-transfer/TransferWindow.vue";
import useSignerCreator from "@/components/hooks/useSignerCreator";

const { signCreator, loading } = useSignerCreator();

provide(SIGNER_CREATOR_LOADER_SYMBOL, loading);
provide(SIGNER_CREATOR_SYMBOL, signCreator);
</script>

<style lang="scss" scoped>
.home-page {
  @apply flex h-screen;
}
</style>
