<template>
  <div class="no-metamask-page">
    <div class="no-metamask-page__card">
      <div class="no-metamask-page__title">
        {{ t('metaMaskNotFound') }}
      </div>
      <div class="no-metamask-page__link">
        <a
          href="https://metamask.io/download/"
          target="_blank"
          rel="noopener noreferrer">
          <meta-mask-icon />
          <span>{{ t('installMetaMask') }}</span>
        </a>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { useI18n } from 'vue-i18n';
import MetaMaskIcon from '@/components/icons/MetaMaskIcon.vue';

const { t } = useI18n();
</script>

<style lang="scss" scoped>
.no-metamask-page {
  @apply flex h-screen;
  &__card {
    @apply m-auto;
  }
  &__title {
    @apply flex justify-center p-4;
  }
  &__link {
    @apply flex justify-center m-4;
  }
}
</style>
