<template>
  <div class="not-found-page">
    <div class="not-found-page__title">
      Page is not found!
    </div>
  </div>
</template>

<script lang="ts" setup>

</script>

<style lang="scss" scoped>
.not-found-page {
  @apply flex h-screen;
  &__title {
    @apply m-auto;
  }
}
</style>
