<template>
  <p>Balance: {{ balance }}</p>
  <p>Balance UNION: {{ uUSDTBalance }}</p>
  <p>Balance USDT: {{ USDTBalance }}</p>
  <div class="form">
    <input v-model="to" type="text" placeholder="address" /><br />
    <input v-model="amount" type="text" placeholder="amount" /><br />
    <button @click="transfer">Transfer</button>
  </div>
</template>

<script lang="ts" setup>
// TODO:
// Подготовить правильные типы данных для отправки на сервер
import { useI18n } from "vue-i18n";
import { ethers } from "ethers";
import { ref, computed } from "vue";
import unionAbi from "../../abi/union-abi.json";
import usdtAbi from "../../abi/usdt-abi.json";
import {
  getSendFromOriginalDigest,
  SEND_FROM_ORIGINAL_TYPEHASH,
} from "../../core/digest/sendFromOriginal.js";
import { splitSignature } from "ethers/lib/utils.js";
import { SignCreator } from "../../core/index.ts";

let provider = null;
let signer = null;
let signCreator = null;
const chainIdFromList = ref("");
const balance = ref(0);
const chain = ref("ETH");
const tokenBalance = ref("");
const USDTBalance = ref("");
const uUSDTBalance = ref("");
const clientAddressInBlockchain = ref("");
const to = ref("0x905f8A33c06985B42106ba6b9974642624DCfE30");
const amount = ref("1100");

const setWeb3Values = async () => {
  signCreator = new SignCreator();
  await signCreator.init();
  try {
    provider = new ethers.providers.Web3Provider(window.ethereum, "any");
    await provider.send("eth_requestAccounts", []);
    signer = await provider.getSigner();
    clientAddressInBlockchain.value = await signer.getAddress();
    balance.value = ethers.utils.formatEther(await signer.getBalance());
  } catch (e) {
    console.log(e);
  }
};

setWeb3Values();
//'SEND_FROM_ORIGINAL'
//'SEND'
//'SEND_ORIGINAL'
const transfer = async () => {
  const approve = await signCreator.approveUSDTTransfer(amount.value);

  console.log(approve);
  const data = await signCreator.createSign(to.value, amount.value, 'SEND_FROM_ORIGINAL');

  console.log(data);
};
</script>

<style lang="scss" scoped>
.home-page {
  @apply my-3;
}
</style>
