<template>
  <div class="transaction-page">
    <transaction-status />
  </div>
</template>

<script lang="ts" setup>
import TransactionStatus from '@/components/transaction-tracking/TransactionStatus.vue';

</script>

<style scoped>

</style>
