<template>
  <input
    v-model="text"
    :placeholder="placeholder"
    type="text"
    class="ui-input">
</template>

<script lang="ts" setup>
import { computed } from 'vue';

const props = defineProps<{
  modelValue: string;
  placeholder: string;
}>();

// eslint-disable-next-line no-spaced-func,func-call-spacing
const emits = defineEmits<{
  // eslint-disable-next-line no-unused-vars
  (e: 'update:modelValue', value: string): void
}>();

const text = computed({
  get() {
    return props.modelValue;
  },
  set(value) {
    emits('update:modelValue', value);
  },
});

</script>

<style lang="scss" scoped>
.ui-input {
 @apply
 bg-gray-50
 border
 border-gray-300
 text-gray-900
 text-sm
 rounded-lg
 focus:ring-blue-500
 focus:border-blue-500
 block
 w-full
 p-2.5
 dark:bg-gray-700
 dark:border-gray-600
 dark:placeholder-gray-400
 dark:text-white
 dark:focus:ring-blue-500
 dark:focus:border-blue-500;
}
</style>
