<template>
  <ui-modal v-model="isOpen">
    <template #title>
      {{ t('transfer') }}
    </template>
    <div>
      <div class="flex justify-between">
        <div>{{ t('recipient') }}:</div>
        <div style="overflow-wrap: anywhere;">
          {{ props.walletAddress }}
        </div>
      </div>
      <div class="flex justify-between">
        <div>{{ t('amount') }}:</div>
        <div>{{ props.tokenAmount }}</div>
      </div>
      <div class="flex justify-between">
        <div>{{ t('commission') }}:</div>
        <div>{{ props.commission }}</div>
      </div>
      <div class="flex justify-between">
        <div>{{ t('total') }}:</div>
        <div>{{ props.total }}</div>
      </div>
    </div>
    <div class="flex justify-center pt-5">
      <ui-button @click="transfer">
        {{ t('transferTokens') }}
      </ui-button>
    </div>
  </ui-modal>
</template>

<script lang="ts" setup>
import UiModal from '@/components/ui/modal/UiModal.vue';
import { useI18n } from 'vue-i18n';
import { computed } from 'vue';
import UiButton from '@/components/ui/button/UiButton.vue';

const props = defineProps<{
  modelValue: boolean;
  walletAddress: string;
  tokenAmount: string;
  commission: string;
  total: string;
}>();

// eslint-disable-next-line no-spaced-func,func-call-spacing
const emits = defineEmits<{
  // eslint-disable-next-line no-unused-vars
  (e: 'update:modelValue', value: boolean): void
  // eslint-disable-next-line no-unused-vars
  (e: 'transfer'): void
}>();

const { t } = useI18n();

const isOpen = computed({
  get() {
    return props.modelValue;
  },
  set(value: boolean) {
    emits('update:modelValue', value);
  },
});

const transfer = () => {
  emits('transfer');
};

</script>

<style scoped>

</style>
