<template>
  <div class="transfer-window">
    <TabGroup>
      <TabList class="transfer-window__tab-list">
        <Tab
          v-slot="{ selected }"
          as="template">
          <a
            href="#"
            :class="['transfer-window__tab', {'transfer-window__tab_active': selected}]">
            {{ t('transfer') }}
          </a>
        </Tab>
        <Tab
          v-slot="{ selected }"
          as="template">
          <a
            href="#"
            :class="['transfer-window__tab', {'transfer-window__tab_active': selected}]">
            {{ t('wallet') }}
          </a>
        </Tab>
      </TabList>
      <TabPanels>
        <TabPanel>
          <transfer-window-panel />
        </TabPanel>
        <TabPanel>
          <wallet-window-panel/>
        </TabPanel>
      </TabPanels>
    </TabGroup>
  </div>
</template>

<script lang="ts" setup>
import {
  TabGroup,
  TabList,
  Tab,
  TabPanels,
  TabPanel,
} from '@headlessui/vue';
import { useI18n } from 'vue-i18n';
import WalletWindowPanel from '@/components/tokens-transfer/WalletWindowPanel.vue';
import TransferWindowPanel from '@/components/tokens-transfer/TransferWindowPanel.vue';

const { t } = useI18n();
</script>

<style lang="scss" scoped>
.transfer-window {
  @apply m-auto w-full sm:w-1/3 px-2;
}
.transfer-window__tab-list {
  display: flex;
  justify-content: space-around;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  @apply mb-3;
}
.transfer-window__tab {
  @apply inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:text-gray-300 dark:hover:text-gray-50;
}
.transfer-window__tab_active {
  @apply text-blue-600 border-blue-600 dark:text-blue-500 dark:border-blue-500;
}
</style>
