<template>
  <div class="transfer-window-panel">
    <div class="transfer-window-panel__block">
      <ui-input
        v-model="walletAddress"
        :placeholder="t('enterAddress')" />
      <ui-button
        :type-style="TYPE_STYLES.OUTLINE"
        @click="validAddress">
        {{ t('next') }}
      </ui-button>
    </div>
    <div
      v-if="isShowTokenAmount"
      class="transfer-window-panel__block">
      <ui-number-input
        v-model="tokenAmount"
        :placeholder="t('enterTokenAmount')" />
      <ui-button @click="openModal">
        {{ t('next') }}
      </ui-button>
    </div>
  </div>
  <transfer-modal
    v-model="isOpen"
    :wallet-address="walletAddress"
    :token-amount="tokenAmount"
    :commission="commission"
    :total="total"
    @transfer="transfer" />
</template>

<script lang="ts" setup>
import { useI18n } from 'vue-i18n';
import { computed, ref, inject, Ref } from 'vue';
import useSignerCreator from '@/components/hooks/useSignerCreator';
import useModal from '@/components/ui/modal/useModal';
import TransferModal from '@/components/tokens-transfer/TransferModal.vue';
import { SignCreator, SignCreatorAddresses } from '@/core';
import { Transfer } from '@/api';
import UiInput from '@/components/ui/form/UiInput.vue';
import UiButton from '@/components/ui/button/UiButton.vue';
import { TYPE_STYLES } from '@/components/ui/button/button.types';
import UiNumberInput from '@/components/ui/form/UiNumberInput.vue';
import {
  SIGNER_CREATOR_LOADER_SYMBOL,
  SIGNER_CREATOR_SYMBOL,
} from "@/components/di";

const { t } = useI18n();
const { isOpen, openModal, closeModal } = useModal();
const signCreator = inject<Ref<SignCreator | undefined>>(SIGNER_CREATOR_SYMBOL);

const isShowTokenAmount = ref(false);
const walletAddress = ref('0x905f8A33c06985B42106ba6b9974642624DCfE30');
const tokenAmount = ref('');
const commission = ref('20');

// todo: получить комиссию и сумму с сервера
const total = computed(() => String(parseFloat(tokenAmount.value) + parseFloat(commission.value)));

const validAddress = () => {
  if (!signCreator.value) {
    throw new Error('Singer creator isn\'t found');
  }
  // check walletAddress logic
  isShowTokenAmount.value = true;
  console.log('validAddress', walletAddress.value);
};

const convertToCents = (amount: string): string => String(parseFloat(amount) * 100);

const transfer = async () => {
  if (!signCreator.value) {
    throw new Error('Singer creator isn\'t found');
  }
  // TODO; fix commission
  const approve = await signCreator.value.approveUSDTTransfer(`${parseInt(tokenAmount.value, 10) + 20}`);

  console.log('approve', approve);
  const signedTransaction = await signCreator.value.createSign(walletAddress.value, total.value, 'SEND_FROM_ORIGINAL');

  console.log('signedTransaction', signedTransaction);

  if (!signedTransaction.from) {
    throw new Error('No from address');
  }

  const data = await Transfer.sendTransaction({
    from: signedTransaction.from,
    to: signedTransaction.to,
    r: signedTransaction.r,
    v: signedTransaction.v,
    s: signedTransaction.s,
    amount: total.value,
    commission_amount: '20',
    transfer_type: 1,
  });

  console.log('data', data);

  closeModal();
};
</script>

<style lang="scss" scoped>
.transfer-window-panel__block {
  @apply flex justify-between items-center gap-2 pb-5;
}
.transfer-window-panel__input {
  width: 75%;
}
</style>
