<template>
  <div v-if="!loading" class="wallet-window-panel">
    <div class="wallet-window-panel__address">
      <div>{{ t("internalAddress") }}:</div>
      <div>{{ wallet.internalAddress }}</div>
      <div>
        <ui-button type-style="icon" @click="copy(wallet.internalAddress)">
          <clipboard-icon class="w-5 h-5" />
        </ui-button>
      </div>
    </div>
    <div class="wallet-window-panel__address">
      <div>{{ t("externalAddress") }}:</div>
      <div>
        {{ wallet.externalAddress }}
      </div>
      <div>
        <ui-button type-style="icon" @click="copy(wallet.externalAddress)">
          <clipboard-icon class="w-5 h-5" />
        </ui-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { useI18n } from "vue-i18n";
import { ClipboardIcon } from "@heroicons/vue/24/solid";
import { Wallet } from "@/core/types/wallet.type";
import UiButton from "@/components/ui/button/UiButton.vue";
import { useClipboard } from "@vueuse/core";
import useSignerCreator from "@/components/hooks/useSignerCreator";
import { computed, ComputedRef, inject, Ref } from "vue";
import {
  SIGNER_CREATOR_LOADER_SYMBOL,
  SIGNER_CREATOR_SYMBOL,
} from "@/components/di";
import { SignCreator, SignCreatorAddresses } from "@/core";

const signCreator = inject<Ref<SignCreatorAddresses | undefined>>(SIGNER_CREATOR_SYMBOL);
const loading = inject<Ref<boolean>>(SIGNER_CREATOR_LOADER_SYMBOL);
const { t } = useI18n();

const { copy } = useClipboard();
const wallet: ComputedRef<Wallet | undefined> = computed(() => (!loading?.value ? signCreator?.value?.getAddresses() : undefined));
</script>

<style lang="scss" scoped>
.wallet-window-panel__address {
  @apply flex gap-2 justify-between dark:text-gray-50;
  overflow-wrap: anywhere;
}
</style>
