<template>
  <button
    type="button"
    :class="['ui-button', typeStyleClass]"
    @click.prevent="emits('click')">
    <slot />
  </button>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import { TYPE_STYLES, TypeStyle } from './button.types';

const props = withDefaults(defineProps<{
  typeStyle: TypeStyle;
}>(), {
  typeStyle: TYPE_STYLES.DEFAULT,
});

// eslint-disable-next-line no-spaced-func,func-call-spacing
const emits = defineEmits<{
  // eslint-disable-next-line no-unused-vars
  (e: 'click'): void
}>();

const typeStyleClass = computed(() => `ui-button_${props.typeStyle}`);

</script>

<style lang="scss" scoped>
.ui-button_default {
  @apply
  text-white
  bg-blue-700
  hover:bg-blue-800
  focus:ring-4
  focus:ring-blue-300
  font-medium
  rounded-lg
  text-sm
  px-5
  py-2.5
  dark:bg-blue-600
  dark:hover:bg-blue-700
  focus:outline-none
  dark:focus:ring-blue-800;
}

.ui-button_outline {
  @apply
  text-blue-700
  hover:text-white
  border
  border-blue-700
  hover:bg-blue-800
  focus:ring-4
  focus:outline-none
  focus:ring-blue-300
  font-medium
  rounded-lg
  text-sm
  px-5
  py-2.5
  text-center
  dark:border-blue-500
  dark:text-blue-500
  dark:hover:text-white
  dark:hover:bg-blue-600
  dark:focus:ring-blue-800
}

.ui-button_icon {
  @apply
  text-blue-700
  border
  border-blue-700
  hover:bg-blue-700
  hover:text-white
  focus:ring-4
  focus:outline-none
  focus:ring-blue-300
  font-medium
  rounded-lg
  text-sm
  p-2.5
  text-center
  inline-flex
  items-center
  mr-2
  dark:border-blue-500
  dark:text-blue-500
  dark:hover:text-white
  dark:focus:ring-blue-800;
}
</style>
