<template>
  <header class="p-3">
    <div class="flex justify-end items-center">
      <div class="flex justify-between items-center px-3">
        <div
          class="mx-1"
          style="width: 15px;">
          <sun-icon style="fill: #FACA15;" />
        </div>
        <Switch
          v-slot="{ checked }"
          v-model="isDarkTheme"
          as="template"
          @update:model-value="saveTheme">
          <button
            class="relative inline-flex h-6 w-11 items-center rounded-full"
            :class="checked ? 'bg-blue-600' : 'bg-gray-200'">
            <span class="sr-only">Enable dark theme</span>
            <span
              :class="checked ? 'translate-x-6' : 'translate-x-1'"
              class="inline-block h-4 w-4 transform rounded-full bg-white transition" />
          </button>
        </Switch>
        <div
          class="mx-1"
          style="width: 15px;">
          <moon-icon style="fill: #FCE96A;" />
        </div>
      </div>
      <div
        class="mx-3"
        style="width: 120px;">
        <Listbox
          v-model="selectedLocale"
          @update:model-value="store(selectedLocale.value)">
          <ListboxButton class="header-lang-select">
            <span class="block truncate">{{ selectedLocale.title }}</span>
            <span
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
              <chevron-up-down-icon
                class="h-5 w-5 text-gray-400"
                aria-hidden="true" />
            </span>
          </ListboxButton>
          <transition
            leave-active-class="transition duration-100 ease-in"
            leave-from-class="opacity-100"
            leave-to-class="opacity-0">
            <ListboxOptions
              class="header-lang-select__options"
              style="width: 120px;">
              <ListboxOption
                v-for="(localeItem, index) in LOCALES"
                v-slot="{ active, selected }"
                :key="index"
                :value="localeItem"
                as="template">
                <li
                  :class="[
                    active ? 'bg-amber-100 text-amber-900' : 'text-gray-900',
                    'relative cursor-default select-none py-2 pl-10 pr-4',
                  ]">
                  <span
                    :class="[
                      selected ? 'font-medium' : 'font-normal',
                      'block truncate',
                    ]">{{ localeItem.title }}</span>
                  <span
                    v-if="selected"
                    class="absolute inset-y-0 left-0 flex items-center pl-3 text-amber-600">
                    <check-icon
                      class="h-5 w-5"
                      aria-hidden="true" />
                  </span>
                </li>
              </ListboxOption>
            </ListboxOptions>
          </transition>
        </Listbox>
      </div>
    </div>
  </header>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
import {
  Listbox,
  ListboxButton,
  ListboxOption,
  ListboxOptions,
  Switch,
} from '@headlessui/vue';
import {
  ChevronUpDownIcon, CheckIcon, SunIcon, MoonIcon,
} from '@heroicons/vue/24/solid';
import { Locale, useSettingI18n } from '@/i18n';
import useTheme, { THEMES } from '@/core/tools/useTheme';

const { store: storeTheme, restore: restoreTheme } = useTheme();
const { LOCALES, store, restore } = useSettingI18n();

const theme = restoreTheme();

const isDarkTheme = ref(theme === THEMES.DARK);

const saveTheme = () => {
  if (isDarkTheme.value) {
    storeTheme(THEMES.DARK);
  } else {
    storeTheme(THEMES.LIGHT);
  }
};

const locale = LOCALES.find((localeItem) => localeItem.value === restore());

if (!locale) {
  throw new Error('Lang is not found!');
}

const selectedLocale = ref<Locale>(locale);
</script>

<style lang="scss" scoped>
.header-lang-select {
  @apply
  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
  relative;
}

.header-lang-select__options {
  @apply absolute mt-1 max-h-60 overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm
}
</style>
