<template>
  <div class="app">
    <layout-header />
    <main>
      <router-view />
    </main>
    <!-- <layout-footer /> -->
  </div>
</template>

<script lang="ts" setup>
import LayoutHeader from '@/components/layout/header/LayoutHeader.vue';
import LayoutFooter from '@/components/layout/footer/LayoutFooter.vue';

</script>

<style lang="scss"></style>
